<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= request.original_url %>"/>
    <meta property="og:image" content="<%= meta_image %>"/>
    <meta property="og:description" content="<%= meta_description %>"/>
    <meta property="og:site_name" content="<%= meta_title %>"/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META[" twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META[" twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon-96x96.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  </head>
  <body>
    <%= render 'shared/navbarinf' %>
    <div id="flash">
      <% if notice.present? || alert.present? %>
      <%= render partial: "shared/notice_banner" %>
      <% end %>
    </div>
    <%= yield %>
    <%= yield :charts_js %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.3.0/js/locales/bootstrap-datepicker.fr.js"></script>
    <%= yield(:after_js) %>
  </body>
</html>
